#contentBox {
  margin: 0 auto;
  position: relative;
  padding: 0px 0 110px 0;
  display: table;
}

.store {
  margin: 0 auto;
  padding: 0 0px 0px 0px;
  height: 50px;
}

.category {
  margin: 0 auto;
  padding: 0 77px 0 0;
  height: 30px;
}

.addr {
  margin: 0 auto;
  padding: 8px 0px 14px 0px;
  height: 145px;
}

.log_img {
  margin: 0 auto;
  padding: 0 0 0 0;
  height: 45px;
}

.min_sum {
  margin: 0 auto;
  padding: 0 0 0 0;
  height: 40px;
}

.btn_bt {
  margin: 0 auto;
  padding: 0px 90px 0px 0px;
  height: 36px;
}
#resName {
  height: 30px;
}
.loggo {
  display: block;
  margin: 70px auto;
  width: 150px;
  height: 50px;
}
td.addr>input {
  height: 30px;
}